html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fredoka;
    overflow: hidden;
}

/* Main content */
main {
    width: 100%;
}

/* Overskrift */
#welcome-header {
    text-align: center;

    font-family: Fredoka;
    font-size: 4rem;
    font-weight: 600;

    color: white;

    text-shadow:
    -3px -3px 0 #8d73d6,
     3px -3px 0 #8d73d6,
    -3px  3px 0 #8d73d6,
     3px  3px 0 #8d73d6;

    margin-top: -180px;
    margin-bottom: 70px;
}

/* Boks container */
#boxes {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

/* Hver boks */
.green-box {
    width: 340px;
    height: 300px;

    background-color: rgba(255,255,255,0.85);

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;
    text-decoration: none;
}

/* Hover animation */
.green-box:hover {
    transform: scale(1.05);
}

/* Billeder i bokse */
.green-box img {
    width: 220px;
    height: auto;
}