html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Fredoka;
}

/* GRID */
.cards-container {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(4, 180px);

    gap: 40px;

    justify-content: center;
    align-content: center;
}

/* KORT */
.card {
    width: 180px;
    height: 240px;

    perspective: 1000px;

    cursor: pointer;
}

/* INDRE KORT */
.card-inner {
    width: 100%;
    height: 100%;

    position: relative;

    transition: transform 0.8s;

    transform-style: preserve-3d;
}

/* VEND */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

/* FORSIDE + BAGSIDE */
.card-front,
.card-back {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 20px;

    backface-visibility: hidden;
}

/* BAGSIDE MED FISK */
.card-back {
    transform: rotateY(180deg);
}

/* TILBAGE KNAP */
#go-back {
    position: fixed;

    top: 40px;
    left: 20px;

    width: 90px;
    height: 90px;

    z-index: 999;
}

#go-back img {
    width: 100%;
    height: 100%;
}